<div id="<%= dom_id message %>">
  <p>
    <strong>Sender:</strong>
    <%= message.sender_id %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= message.message %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= message.status %>
  </p>

  <p>
    <strong>Time entry:</strong>
    <%= message.time_entry_id %>
  </p>

  <p>
    <strong>Our response:</strong>
    <%= message.our_response %>
  </p>

</div>
