  <% if @timesheet_entry && @timesheet_entry.errors.any? %>
  <div id="error_explanation">
    <ul class="list-unstyled">
      <% @timesheet_entry.errors.each do |error| %>
        <li>
          <div class="alert alert-danger" role="alert">
            <%= error.full_message %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<li id="<%= dom_id(timesheet_entry) %>_form" class="list-group-item">
  <%= form_with(model: timesheet_entry, remote: true ) do |form| %>

    <%= form.hidden_field @timesheet_entry.employee.id %>
    <%= form.hidden_field @timesheet_entry.pay_period.id %>

    <div class="mb-3">
      <%= form.label :started_at, class: "sr-only" %>
      <%= form.datetime_local_field :started_at, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :ended_at, class: "sr-only" %>
      <%= form.datetime_local_field :ended_at, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= form.label "Comments" %>
      <%= form.text_field :comment, class: "form-control" %>
    </div>
    <%= form.submit class: "btn btn-outline-secondary btn-block" %>
  </li>
<% end %>
