          <%= render "statuses/status", employee: @employee %>

<div class="mt-4">
  <%= form_with(model: TimesheetEntry, local: false, url: timesheet_entries_path, method: :post, remote: true, id: "timesheet_entry_form") do |form| %>
    <%= form.hidden_field :employee_id, value: @employee.id %>
    <%= form.hidden_field :pay_period_id, value: PayPeriod.current %>

    <% if @employee.timesheet_entries.present? && @employee.last_entry.ended_at.nil? %>
      <%= form.hidden_field :timesheet_entry, value: @employee.last_entry.id %>
      <%= form.hidden_field :started_at, value: @employee.timesheet_entries.last.started_at %>
      <%= form.hidden_field :ended_at, value: Time.now %>
      <%= form.submit "Clock Out", class: "btn btn-danger-subtle btn-block", id: "clock_button" %>
    <% else %>
      <%= form.hidden_field :started_at, value: Time.now %>
      <%= form.submit "Clock In", class: "btn btn-success btn-block", id: "clock_button" %>
    <% end %>
  <% end %>
</div>
