<div class="container-fluid p-3">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Most Recent Timesheet
        </div>
        <div class="card-body">
        <div class="row">
        <div class="col-md-4">
        <h5> Current Pay Period Nickname: </h5>
        <h6> ✨<%= PayPeriod.current.name %>✨ </h6>
        </div>
        </div>

        <hr>

          <% if timesheet_entry %>
            <div class="accordion-item">
              <h5 class="accordion-header"><%= timesheet_entry.started_at.strftime("%A, %B %d, %Y") %></h5>
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= timesheet_entry.id %>" aria-expanded="false" aria-controls="collapse<%= timesheet_entry.id %>">
                <%= timesheet_entry.started_at.strftime("%b %d %l:%M%P") %> - <%= timesheet_entry.ended_at ? timesheet_entry.ended_at.strftime("%l:%M%P") : "Present" %>
                <span class="badge rounded-pill bg-<%= timesheet_badge_color(timesheet_entry.entry_approval_status) %> ms-2"><%= timesheet_entry.entry_approval_status %></span>
              </button>
              <div id="collapse<%= timesheet_entry.id %>" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <%= render partial: 'timesheet_entries/form', locals: { timesheet_entry: timesheet_entry } %>
                  <%= link_to "Delete", timesheet_entry, method: :destroy, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
                </div>
              </div>
            </div>
          <% else %>
            <p>-</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
