<div id="<%= dom_id timesheet_entry %>">
  <p>
    <strong>Employee:</strong>
    <%= timesheet_entry.employee_id %>
  </p>

  <p>
    <strong>Started at:</strong>
    <%= timesheet_entry.started_at %>
  </p>

  <p>
    <strong>Ended at:</strong>
    <%= timesheet_entry.ended_at %>
  </p>

  <p>
    <strong>Hours worked:</strong>
    <%= timesheet_entry.hours_worked %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= timesheet_entry.comments %>
  </p>

  <p>
    <strong>Entry approval status:</strong>
    <%= timesheet_entry.entry_approval_status %>
  </p>

</div>
