<div id="<%= dom_id employee %>">

  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body text-center">
            <img src="<%= @employee.profile_picture %>" alt="Profile Picture" class="rounded-circle mb-3" style="width: 100px; height: 100px;">
            <h2 class="card-title mb-3">Welcome, <%= @employee.first_name %>!</h2>
            <p class="card-text text-muted"><%= @employee.time_zone %></p>
            <p class="card-text"><%= @employee.role.capitalize %></p>
            <% if @employee.manager %>
              <p class="card-text">Manager: <%= @employee.manager.full_name %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
