<div id="<%= dom_id employee %>">

  <p>
    <strong>Email:</strong>
    <%= employee.email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= employee.password %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= employee.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= employee.last_name %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= employee.role %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= employee.company_id %>
  </p>

  <p>
    <strong>Manager:</strong>
    <%= employee.manager_id %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= employee.phone_number %>
  </p>

  <p>
    <strong>Has sms:</strong>
    <%= employee.has_sms %>
  </p>

  <p>
    <strong>Profile picture:</strong>
   <%= image_tag employee.profile_picture %>
  </p>

  <p>
    <strong>Time zone:</strong>
    <%= employee.time_zone %>
  </p>

</div>
