<div class="container-fluid justify-content-space-between">
  <h2 class="card-title mb-3 text-center">
    Welcome, <%= @employee.first_name %>!
  </h2>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <%= render "employee", employee: @employee, dom_id: dom_id(@employee) %>
      </div>
    </div>

    <%= render 'statuses/form', status: Status.new(employee_id: @employee.id) %>

    <%= render 'timesheet_entries/form', timesheet_entry: @employee.timesheet_entries.last%>

    <%= render "timesheet_entries/timesheet_entry", timesheet_entry: @employee.timesheet_entries.last %>

    <% if current_employee.manager? && current_employee.employees.present? %>
      <div>
        <h2 class="card-title">
          My Employees
        </h2>
        <div>
          <% current_employee.employees.each do |employee| %>
            <%= render "employee", employee: employee %>
          <% end %>
        <% end %>
      </div>
    </div>
