<div class="row">
  <% if @status && @status.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@status.errors.count, "error") %> prohibited this @status from being saved:</h2>

      <ul>
        <% @status.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with(model: @status, local: false, url: statuses_path(@status), method: :post, remote: true, id: "status_form") do |form| %>
    <div>
      <%= form.hidden_field :employee_id, value: @employee.id %>
      <%= form.select :text, 
                options_for_select(["Available", "Deep Focus", "Away from Desk"], @employee.status&.text),
                { prompt: "What are you up to?" },
                class: "form-control p-2 m-3 text-center",
                onchange: "this.form.submit();" %>

    </div>
  <% end %>
</div>
