<nav class="navbar bg-body-tertiary sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><%= @name %></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Timesheet SMS</h5>
        <hr>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <%= link_to @employee, class: "nav-link active" do %>
              <i class="fas fa-chart-line"></i> Dashboard
            <% end %>
          </li>
          <%= link_to "Timesheets", timesheet_entries_path, class: "nav-link active" %> 
        </li>
        <% if @employee && employee_signed_in? %>
          <li class="nav-item">
            <%= button_to "Profile", employee_path(@employee), class: "btn btn-info p-2" %>
          </li>
          <li class="nav-item">
            <%= button_to "Sign Out", destroy_employee_session_path, method: :delete, data: { turbo_method: :delete }, class: "btn btn-dark p-2" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= button_to "Sign In", new_employee_session_path, class: "btn btn-outline-success p-2" %>
          </li>
          <li class="nav-item">
            <%= button_to "Sign Up", new_employee_registration_path, class: "btn btn-success p-2" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
</nav>
